.container{

  width: 100%;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(140deg,rgb(36, 36, 223),rgb(7, 7, 167));


  
}


.calculator{
padding:20px;
border-radius: 10px;
background-color: white;

}

.keypad button{

  border: none;
  outline: 0;
  width: 60px;
  height: 60px;
  font-size: 16px;
  background-color: rgb(47, 47, 220);
  margin: 2px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding-inline: 0px;
  padding-block: 0px;

}

.keypad button:hover{
  
  background-color: rgb(92, 92, 169);
}


.cal{

display: flex;

}
.doubleSize{
 
  flex: 2;
}

.singleSize{
  
  flex: 1;

}


.keypad .displayValue{

  display: flex;
  height: 60px;
  margin: 5px 0px 15px 0px;

}
.keypad .displayValue input{

/* width:100%; */
width: 252px;
border-radius: 5px;
text-align: right;
font-size: 30px;
background-color: rgb(161, 173, 231);
border:none;
  

}